<section class="grid flex-grow grid-cols-4 overflow-hidden">
    <section class="flex flex-col col-span-1 gap-20 py-40 px-30">
        <div>
            <p class="text-xl font-display">This is the heading for the entire workflow</p>
            <p class="text-gray-300">This is a tagline for the entire workflow. Something short and sweet.</p>
        </div>
        <ul>
            @for (stage of eApp.stages | orderBy: 'title'; track $index) {
            <li class="flex items-center gap-20 p-10">
                <span class="w-24 h-24 rounded-full bg-blue-950"></span>
                <p class="">{{stage.title}}</p>
            </li>
            }
        </ul>
    </section>
    <section class="flex flex-col col-span-3 overflow-hidden bg-zinc-800">
        <app-stage [stage]="activeStage" [form]="activeForm" class="flex-grow overflow-y-auto"></app-stage>
        <div class="flex items-center justify-end gap-10 p-20 border-t border-gray-700 border-solid">
            <button mat-flat-button class="" (click)="goTo()">Next</button>
        </div>
    </section>
</section>