@if(stage && form) {
<section class="flex flex-col gap-40 p-30">
    <h1 class="text-xl font-display">{{stage.title}}</h1>
    <form [formGroup]="form">
        <div formArrayName="dataItems">
            @for (item of stage.dataItems; track $index) {
            <div [formGroupName]="$index">
                <p>{{item.displayLabel}}</p>
                @switch (item.dataType) {
                @case(dataTypeEnum.radio) {
                <mat-radio-group formControlName="selectedValue">
                    @for (opt of item.dataOptions; track $index) {
                    <mat-radio-button [value]="opt.value">{{opt.value}}</mat-radio-button>
                    }
                </mat-radio-group>
                }
                @case(dataTypeEnum.select) {
                <mat-select placeholder="Select an option" formControlName="selectedValue">
                    @for (opt of item.dataOptions; track $index) {
                    <mat-option [value]="opt.value">{{opt.label}}</mat-option>
                    }
                </mat-select>
                }
                }
            </div>
            }
        </div>

    </form>
</section>
}