@if(stage && form) {
<section class="flex flex-col w-full gap-40 p-40 mx-auto max-w-840" @fadeIn>
    <h1 class="text-xl font-display">{{stage.title}}</h1>
    <p>{{stage.order}}</p>
    <form [formGroup]="form">
        <div formArrayName="dataItems" class="flex flex-col gap-30">
            @for (item of stage.dataItems; track $index) {
            <div [formGroupName]="$index" class="flex flex-col gap-10">
                <p class="" @fadeIn>{{item.displayLabel}}</p>
                @if(isGrouped(item.dataItemId)) {
                    <div class="flex flex-wrap gap-10">
                        
                    </div>
                }
                @switch (item.dataType) {
                @case(dataTypeEnum.radio) {
                <mat-radio-group formControlName="selectedValue" class="flex items-center gap-20" @fadeIn>
                    @for (opt of item.dataOptions; track $index) {
                    <mat-radio-button [value]="opt.value">{{opt.value}}</mat-radio-button>
                    }
                </mat-radio-group>
                }

                @case(dataTypeEnum.select) {
                <mat-select class="input" placeholder="Select an option" formControlName="selectedValue" @fadeIn>
                    @for (opt of item.dataOptions; track $index) {
                    <mat-option [value]="opt.value">{{opt.label}}</mat-option>
                    }
                </mat-select>
                }

                @case(dataTypeEnum.shortText) {
                    <p>{{item.dataItemId}}</p>
                <input class="input" type="text"
                    formControlName="selectedValue" placeholder="Please answer" @fadeIn>
                }

                @case(dataTypeEnum.longText) {
                <textarea class="textarea" type="text" rows="3" formControlName="selectedValue" placeholder="Please answer" @fadeIn></textarea>
                }

                @default {
                <input class="input" type="text" formControlName="selectedValue" placeholder="Please answer" @fadeIn>
                }
                }
            </div>
            }
        </div>

    </form>
</section>
}