<section class="flex flex-grow gap-40 overflow-hidden bg-gradient-to-tr from-indigo-950 via-zinc-900 to-zinc-900 p-30">
    <section
        class="flex flex-col overflow-hidden border border-solid rounded-lg shadow-xl bg-zinc-900 w-460 border-zinc-700">
        <div class="flex flex-col p-20">
            <h1 class="text-xl font-display">Recommendation Results</h1>
            <p class="text-xs text-gray-400">{{recommendedAllocation?.requestorName}}</p>
            <p class="mt-20 text-sm">{{recommendedAllocation?.reason ?? "Here is your custom allocation based on your investor portfolio, specific goals and foundational values."}}</p>
        </div>
        <span class="h-px mx-20 bg-gray-700"></span>
        <ul class="flex flex-col gap-10 p-20 overflow-auto">
            @for (item of recommendedAllocation?.allocations; track $index) {
            <li
                class="flex gap-10 px-20 py-10 transition duration-150 rounded-md bg-zinc-800 opacity-80 hover:opacity-100">
                <div class="flex flex-col">
                    <p class="text-sm font-semibold">{{item.assetDisplayName}}</p>
                    <p class="text-gray-400 text-2xs">{{item.assetId}}</p>
                </div>
                <div class="flex items-center gap-10 ml-auto">
                    <span class="text-2xl font-display">{{item.allocationPercentage}}%</span>
                    <span
                        class="px-10 py-5 text-xs text-gray-400 bg-green-500 rounded-full bg-opacity-20">{{item.assetClass}}</span>
                </div>
            </li>
            }
        </ul>
    </section>
    <section class="grid flex-grow grid-cols-3 gap-20">
        @for (item of carriers; track $index) {
        <div class="relative flex flex-col p-20 transition duration-150 border-0 rounded-lg bg-zinc-800 h-256" [ngClass]="{'border-2 border-solid border-blue-500': item.checked}">
            <input type="checkbox" class="absolute inset-0 opacity-0" [(ngModel)]="item.checked" (ngModelChange)="updateCarrierList(item)">
            <h2 class="text-xl font-display">{{item.name}}</h2>
            <h3 class="text-lg font-display">Rating: {{item.rating}}</h3>
        @if (pricingByCarrier[item.id]) {
            @for (funds of pricingByCarrier[item.id].funds; track $index) {
                <div class = "flex flex-row gap-10">
                    <p class="font-display italic">{{funds.fundName.includes('CAP') ? "Cap Rate" : "Par Rate"}}:</p>
                    <p class="font-display">{{funds.rate}}</p>
                </div>
            }
        }
        </div>
        }
        <button (click)="shop()">shop</button>
        <button (click)="submitApp()">Submit App</button>
    </section>
</section>