<section @fadeIn
    class="flex items-start flex-grow gap-40 overflow-hidden bg-gradient-to-tr from-indigo-950 via-zinc-900 to-zinc-900 p-30">
    <section
        class="flex flex-col h-full overflow-hidden border border-solid rounded-lg shadow-xl bg-zinc-900 w-460 border-zinc-700">
        <div class="flex flex-col p-20">
            <h1 class="text-xl font-display">Recommendation Results</h1>
            <p class="text-xs text-gray-400">{{recommendedAllocation?.requestorName}}</p>
            <p class="mt-20 text-sm">{{recommendedAllocation?.reason ?? "Here is your custom allocation based on your investor portfolio, specific goals and foundational values."}}</p>
        </div>
        <span class="h-px mx-20 bg-gray-700"></span>
     @if(!loading && recommendedAllocation?.allocations?.length) {
        <ul class="flex flex-col gap-10 p-20 overflow-auto" [@fadeIn]="recommendedAllocation?.allocations?.length">
            @for (item of recommendedAllocation?.allocations; track $index) {
            <li
                class="flex gap-10 px-20 py-10 transition duration-150 rounded-md bg-zinc-800 opacity-80 hover:opacity-100">
                <div class="flex flex-col">
                    <p class="text-sm font-medium">{{item.assetDisplayName}}</p>
                    <p class="text-gray-400 text-2xs">{{item.assetId}}</p>
                </div>
                <div class="flex items-center gap-20 ml-auto">
                    <span class="text-2xl font-display">{{item.allocationPercentage}}%</span>
                    <span
                        class="px-5 py-5 text-xs text-center text-gray-400 bg-green-500 rounded-full min-w-128 bg-opacity-20">{{item.assetClass}}</span>
                </div>
            </li>
            }
        </ul>
     } @else {
        <img src="recommendation-loading.svg" class="m-20 animate-pulse" @fadeIn>
     }
    </section>
    <section class="flex flex-col flex-grow h-full overflow-auto gap-30">
        <div class="flex items-center gap-20">
            <div class="mr-auto">
                <h1 class="text-xl font-display">Carrier Gallery</h1>
                <p>Select the carrier you would like to shop with below:</p>
            </div>
            <button mat-flat-button (click)="shop()">
                <span class="flex items-center justify-center w-full gap-5 min-w-200">
                    <mat-icon class="">shopping_bag</mat-icon>
                    <span>Shop</span>
                  </span>
            </button>
        </div>
        <section class="grid grid-cols-4 gap-20" [@fadeIn]="carriers.length">
            @for (item of carriers; track $index) {
            <div class="relative flex flex-col gap-20 overflow-hidden transition duration-150 border-solid rounded-lg bg-zinc-800 min-h-280 "
                [ngClass]="{'border-2 border-solid border-blue-500': item.checked, 'border border-gray-700': !item.checked}">
                <span class="absolute top-0 left-0 flex m-10 transition-opacity duration-200 bg-green-500 rounded-full w-30 h-30 bg-opacity-30"
                [ngClass]="{'opacity-100': item.checked, 'opacity-0' : !item.checked}">
                <span class="m-auto text-green-500 material-icons">check_circle</span>
                </span>
                <input type="checkbox" class="absolute inset-0 opacity-0" [(ngModel)]="item.checked">
                <div class="flex flex-col gap-10 p-30 bg-zinc-900">
                    <img [src]="item?.imgUrl" [alt]="" class="w-auto h-40 m-auto max-w-[16rem]">
                    <span class="flex px-10 py-5 mx-auto rounded-full bg-zinc-800">
                        <span class="m-auto text-xs font-medium">Rating: {{item.rating}}</span>
                    </span>
                </div>
                @if (pricingByCarrier[item.id]) {
                <div @fadeIn class="flex flex-col gap-20 p-10 mt-auto">
                    <div class="flex gap-20 p-10 bg-blue-800 rounded-md">
                
                        @for (funds of pricingByCarrier[item.id].funds; track $index) {
                        <div class="flex flex-col flex-grow px-20" [ngClass]="{'border-r border-solid border-blue-900': $index === 0}">
                            <p class="text-xs text-gray-300">{{funds.fundName.includes('CAP') ? "Cap Rate" : "Par Rate"}}:</p>
                            <p class="text-2xl font-display">{{funds.rate | number:'1.0'}}%</p>
                        </div>
                        }
                
                    </div>
                    <button mat-flat-button (click)="submitApp()" [disabled]="!pricingByCarrier[item.id]">
                        <span class="flex items-center justify-center w-full gap-5 mt-auto">
                            <span>Buy</span>
                        </span>
                    </button>
                </div>
                } @else {
                    <div @fadeIn class="flex flex-col gap-20 p-10 mt-auto h-150">
                        <div class="rounded-md h-[74px] bg-zinc-700"></div>
                        <div class="h-40 rounded-full bg-zinc-700"> </div>
                    </div>
                }


            </div>
            }
        </section>
    </section>
</section>