<div class="flex flex-col items-center justify-center min-h-screen px-6">
  <main class="flex flex-col gap-20 mt-20 text-center">
      <h2 class="text-3xl font-display">Protect Your Retirement</h2>
      <p class="mt-4 text-lg text-gray-300">Take advantage of asset protection and lifetime income</p>
      @for (template of templates; track template.id) {
        <button class="px-6 py-3 mt-6 font-bold text-white bg-blue-500 rounded-lg hover:bg-blue-600" [routerLink]="['/questionnaire', template.id, 'new']" routerLinkActive="router-link-active" >{{template.name}}</button>

      }
  </main>
  <section id="features" class="mt-16 max-w-640">
      <h3 class="text-3xl font-bold text-center">Features</h3>
      <div class="grid grid-cols-1 gap-20 mt-20 md:grid-cols-3">
          <div class="p-6 text-center bg-gray-800 rounded-lg">
              <span class="mb-2 text-4xl material-icons">shield</span>
              <h4 class="text-xl font-semibold">Protection</h4>
              <p class="text-gray-400">Avoid asset loss.</p>
          </div>
          <div class="p-6 text-center bg-gray-800 rounded-lg">
              <span class="mb-2 text-4xl material-icons">show_chart</span>
              <h4 class="text-xl font-semibold">Lifetime Income</h4>
              <p class="text-gray-400">Guaranteed income for life.</p>
          </div>
          <div class="p-6 text-center bg-gray-800 rounded-lg">
              <span class="mb-2 text-4xl material-icons">palette</span>
              <h4 class="text-xl font-semibold">Personalized</h4>
              <p class="text-gray-400">Fully customized for you.</p>
          </div>
      </div>
  </section>
  <footer id="contact" class="w-full py-10 mt-40 text-center border-t border-gray-700">
      <p class="text-gray-400">&copy; 2025 IRI Hackathon. All rights reserved.</p>
  </footer>
</div>