<section class="relative flex flex-col flex-grow overflow-hidden gap-y-20 py-30">
  <h2 class="z-10 w-full mx-auto text-xl font-display max-w-960">Pending Applications</h2>
  <section
    class="z-10 flex flex-col flex-grow w-full mx-auto border border-gray-700 border-solid rounded-lg shadow-sm max-w-960 bg-zinc-900">
    <section class="flex p-20">
      <input type="text" placeholder="Find an application..." class="mr-auto input">
      <button mat-button>
        <span class="flex items-center justify-center w-full gap-5">
          <span>Filters</span>
          <mat-icon class="">tune</mat-icon>
        </span>
      </button>
    </section>
    <section class="flex flex-col p-20 pt-0">
      <table class="w-full -my-10 text-sm text-left border-separate rounded-lg table-auto border-spacing-y-10">
        <thead>
          <tr>
            <th class="p-20 text-gray-300 border-b border-gray-700 border-solid">Client</th>
            <th class="p-20 text-gray-300 border-b border-gray-700 border-solid">Duration</th>
            <th class="p-20 text-gray-300 border-b border-gray-700 border-solid">Status</th>
            <th class="p-20 text-gray-300 border-b border-gray-700 border-solid text-end w-100">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (application of applications; track $index) {
          <tr class="transition duration-150 group">
            <td
              class="px-20 py-10 transition duration-150 group-hover:bg-opacity-100 bg-opacity-70 rounded-l-md bg-zinc-800">
              {{ application.firstName }} {{application.lastName }}</td>
            <td class="px-20 py-10 transition duration-150 group-hover:bg-opacity-100 bg-opacity-70 bg-zinc-800">{{
              application.duration }} Year(s)</td>
            <td class="px-20 py-10 transition duration-150 group-hover:bg-opacity-100 bg-opacity-70 bg-zinc-800">
              <span class="px-10 py-5 text-xs uppercase rounded-full bg-opacity-30" [ngClass]="{
                  'bg-blue-500': application.status === 'Pending',
                  'bg-green-500': application.status === 'Complete'
                }">
                {{ application.status }}
              </span>
            </td>
            <td class="justify-end px-20 py-10 transition duration-150 group-hover:bg-opacity-100 bg-opacity-70 rounded-r-md bg-zinc-800 text-end">
              <button mat-button (click)="continueApplication(application.templateId, application.applicationId)">
                <span class="flex items-center justify-center w-full gap-5">
                  <span>{{application.status === 'Pending' ? 'Continue' : 'View'}}</span>
                  <mat-icon class="">arrow_forward</mat-icon>
                </span>
              </button>
            </td>
          </tr>}
        </tbody>
      </table>
    </section>
  </section>
</section>